.expenses {
  display: flex;
  justify-content: space-evenly;
}

.expenses-left{ 
    display: flex;
    flex-direction: column;
}

.expenses-messages{
    flex: 0 0 4rem;
}

.expenses-table {
  flex: 0 0 100rem;
}

.table-header {
  border-width: 1px 1px;
  border-color: black;
  border-style: solid;
}

.table-data {
  border-width: 1px 1px;
  border-color: black;
  border-style: solid;
  padding: 1rem;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  
  .success {
    color: green;
    font-weight: bold;
    text-align:center;
  }
  